body {
    margin: 0 auto;
    text-align: center;
  }

  img {
    width: 120px;
    padding: 3px;
  }

  .bingo-board {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 630px;
  }